* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signInDiv {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.imgContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    max-width: 90%;
    max-height: 90%;   
}
.imageSignIn{
    margin-top: 5%;
    max-width: 90%;
    max-height: 90%; 

}
.formSignIn{
    display:flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
    padding: 5%;
    margin: 0% 5% 5% 5%;
    border-radius: 10%;
}

.description{
    text-align: center;
    font-size: 100%;
    color: #080808;
    margin-top: 5%;

}

.singUpDiv{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 

}


.imgContainerSignUp{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    max-width: 90%;
    max-height: 90%; 
}

.imageSignUp{
    margin-top: 5%;
    max-width: 90%;
    max-height: 90%; 


}