* {
  margin: 0;
  
  box-sizing: border-box;
  color: black;
}

html {
  width: 100%;
  height: 100%;
  background-color: rgba(253, 253, 253, 0.973);
}

@font-face {
  font-family: IBMPlexSans-Regular;
  src: url(tipografías/IBMPlexSans-Regular.ttf);
}
@font-face {
  font-family: IBMPlexSans-Medium;
  src: url(tipografías/IBMPlexSans-Medium.ttf);
}
@font-face {
  font-family: IBMPlexSans-Light;
  src: url(tipografías/IBMPlexSans-Light.ttf);
}
@font-face {
  font-family: IBMPlexSans-Bold;
  src: url(tipografías/IBMPlexSans-Bold.ttf);
}

#root {
  width: 100%;
  height: 100%;
}

.MainComponents {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* LOGIN */

.imageLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  padding: 6%;
  border-radius: 15px;
}

.loginTextDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  display: flex;
  padding: 0 40px;
  font-family: IBMPlexSans-Light;
  font-size: 17px;
}

.sentence {
  font-family: IBMPlexSans-Bold;
  font-size: 19px;
  margin-top: 20px;
}

.formLogin {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputLogin {
  width: 325px;
  height: 50px;
  font-size: 100%;
  border-radius: 6px;
  margin: 1.5vw 0;

  /*border: solid 1.5px transparent;  */
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fffafa; /* Color de fondo gris */
}

.emaiLogin {
  margin-top: 0px;
}
.passwordLogin {
  margin-top: 9px;
}

.loginButton {
  cursor: pointer;
  background-color: rgb(111, 216, 97);
  border: none;
  width: 175px;
  height: 49px;
  border-radius: 10px;
  margin-top: 15px;
  font-family: IBMPlexSans-Medium;
  font-size: 19px;
  color: #fffafa;
  font-weight: lighter;
}

.loginButton:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.imageGoogle {
  width: 30px;
  padding-right: 10px;
}

.googleButton {
  display: flex;
  cursor: pointer;
  background-color: white;
  width: 175px;
  height: 49px;
  border: 1px solid #0d0e0d75;
  border-radius: 10px;
  margin-top: 15px;
  color: black;
  font-family: IBMPlexSans-Medium;
  font-weight: lighter;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 14px;
}

.googleButton:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.footerLogin {
  display: flex;
  align-items: center;
  max-width: 80%;
  font-weight: 600;
  margin: 10px;
  margin-top: 100px;
}

.pFooterLogin {
  font-family: IBMPlexSans-Light;
  font-size: 15px;
}

.goToRegister {
  cursor: pointer;
  margin: 4px;
  font-family: IBMPlexSans-Medium;
  font-size: 15px;
  color: #ce7f46;
}

/* REGISTER  */

.imageRegister {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  padding: 6%;
  border-radius: 15px;
}

h3 {
  font-family: IBMPlexSans-Light;
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 17%;
}

.formRegister {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputRegister {
  width: 325px;
  height: 50px;
  font-size: 100%;
  border-radius: 6px;
  margin: 1.5vw 0;

  /*border: solid 1.5px transparent;  */
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fffafa; /* Color de fondo gris */
}

.termsDiv {
  display: flex;
  align-items: center;
  max-width: 80%;
  font-weight: 600;
  margin: 10px;
  margin-top: 15px;
}

.pTerms {
  font-family: IBMPlexSans-Light;
  font-size: 12px;
}
.privacyText {
  font-family: IBMPlexSans-Medium;
  font-size: 12px;
}

.termsCheckBox {
  width: 10%;
  margin: 0 1vw 2.5vw;
  cursor: pointer;
}

.registerButton {
  cursor: pointer;
  background-color: rgb(111, 216, 97);
  border: none;
  width: 160px;
  height: 49px;
  border-radius: 10px;
  margin-top: 20px;
  font-family: IBMPlexSans-Medium;
  font-size: 19px;
  color: #fffafa;
  font-weight: lighter;
}

.registerButton:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.footerRegister {
  display: flex;
  align-items: center;
  max-width: 80%;
  font-weight: 600;
  margin: 10px;
  margin-top: 100px;
}

.pFooter {
  font-family: IBMPlexSans-Light;
  font-size: 15px;
}

.backToLogin {
  cursor: pointer;
  margin: 4px;
  font-family: IBMPlexSans-Medium;
  font-size: 15px;
  color: #ce7f46;
}


.ErrorRegisterLogin{

  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
  margin-top: 25px;

}

.textErrorRegisterLogin{
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: IBMPlexSans-Medium;
  color:red;
  font-size: 14px;
  font-weight: bolder;
  
}

/*  WALL  */

.wallDiv{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  box-shadow:transparent;
}

.wallHeader{
  background-color: #ce7f46;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 30px;
  width: 100%;
  height: 70px;
  

}

.imageLogoHeader{
  display: flex;
  
  height: 90px;
  width: 133px;
 
}

.signOutButton{
  margin-top: 5px;
  display: flex;
  align-items: center;
  position: absolute;
  cursor:pointer;
  right: 3px;
  height: 30px;
  
  /*font-family: IBMPlexSans-Medium;
  font-weight: bold;
  font-size: 12px;*/
  
  
}

.imageClose{
  display:flex;
  position:absolute;
  margin:2px;
  right: 15px;
  height: 25px;
  
  
}



.divPost{
  display:flex;
  align-items: center;
  flex-direction: column;
  position:relative;
  height: 210px;
  width: 360px;
  background-color: rgba(247, 240, 240, 39% );
  border: 1px solid rgba(116, 112, 112, 100% );
  margin-top: 16px;
  border-radius: 10px;
  padding:0px 0px 40px 0px ;
  
}

.textArea{
  resize: none;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px; 
  margin-top: 2%;
  font-weight: bolder;
  font-family: IBMPlexSans-Medium;
  height: 90%;
  width: 95%;
  font-size: 100%;
  padding:0px 0px 10px 10px;
  
 
}

.divPostUserData{
  align-items: center;
  justify-content: center;
  display:flex;
  flex-direction: column;
  background-color: rgb(111, 216, 97);
  width: 100%;
  height: 65px;
  border-radius: 9px 9px 0px 0px;
  margin:0px;
  
}

.postButton{
  cursor:pointer;
  display:flex;
  position:absolute;
  align-items: center;
  justify-content: center;
  margin-top: 49%;
  left: 280px;
  height: 26px;
  width: 63px; 
  border-radius: 5px;
  border-style:none;
  background-color: #ce7f46;
  font-family: IBMPlexSans-Medium;
  font-size: 13px;
  color: #fffafa;
  font-weight: lighter;
}
  
.divPostUsers{
 
  display:flex;
  align-items: center;
  flex-direction: column;
  position:relative;
  height: 150px;
  width: 360px;
 
  border: 1px solid rgba(116, 112, 112, 100% );
  margin-top: 30px;
  border-radius: 10px;
  
}
.contenPost{
  display:flex;
padding: 5px;
justify-content:left;
flex-direction: column;
margin-top: 5px;
width: 360px;
height: 80px;

padding: 10px;

}

.photoUserAuth{
  display:flex;
  position:absolute;
  align-items: center;
  justify-content: center;
  right: 84%;
  width: 49px;
  height: 50px;
  border-radius: 50%;
  left: 15px;
 

}



.emailUser{
  display: flex;
  position: absolute;
  left: 75px;
  font-family: IBMPlexSans-Medium;
  font-size:medium;
  font-weight: bolder;

  
  
  
}

.nameUserAuthGmail{
  display: flex;
  position: absolute;
  left: 75px;
  font-family: IBMPlexSans-Medium;
  font-size:medium;
  font-weight: bolder;

  
}


.photoUserAuthNull{
  display:flex;
  position:absolute;
  align-items: center;
  justify-content: center;
  right: 84%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  left: 15px;
  
 


}


.deletePostButton {
 
    cursor:pointer;
    display:flex;
    position:absolute;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    left: 318px;
    height: 27px;
    width: 27px; 
    border-radius: 5px;
    border-style:none;
    font-family: IBMPlexSans-Medium;
    font-size: 13px;
    font-weight: lighter;
    
  }

  /* MODAL */
  .dialogModal{
    font-family: IBMPlexSans-Medium;
    font-size: 100%;
    text-align: center;
    position:absolute;
    margin-top: 70%;
    left: 5%;
   width: 90%;
   height: 21%;
   border-radius: 8px;
   border: none;
   padding: 1.5em 1em 1em 1em;
   background-color: #fafafa;
   
   
  }

  dialog::backdrop{
    background-color:#1413137a;
   
}

.divModal{
 margin:0%; 
 
 
}
.questionDelete{
  
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.7em;
    margin: 0.7em 0;
    background-color: #fbe9e7;
    color: #333333;
    
    
    

}

.cancelDelete{
  margin:5px;
  width: 110px;
  height: 35px;
  border-radius: 20px;
  border: none;
  color: #000000;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  background-color: #f1efef;
  font-family: IBMPlexSans-Medium;
  letter-spacing:1px;
  font-weight: bold;
}

.finallyDelete{
  margin:5px;
  width: 110px;
  height: 35px;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  background-color: #d32f2f;
  font-family: IBMPlexSans-Medium;
  letter-spacing:1px;
  font-weight: bold;
}

.divProfile{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #ce7f46be;
  width: 100%;
  height: 90px;
  border-radius: 9px 9px 0px 0px;
  
}

.imageProfileUser{
   position:absolute;
  margin-top: 2px;
  left: 37%;
  right: 84%;
  width: 48px;
  height: 48px;
  border-radius: 20%;
  left: 15px;
 
}

.imageUserLoginHeader{
  position:absolute;
  margin-top: 2px;
  left: 37%;
  right: 84%;
  width: 48px;
  height: 48px;
  border-radius: 20%;
  left: 15px;
}

.nameUserLoginHeader{
  display: flex;
  position: absolute;
  left: 75px;
  font-family: IBMPlexSans-Medium;
  font-size:medium;
  font-weight: bolder;

  
}

.emailUserLoginHeaderRegister{
  
  display: flex;
  position: absolute;
  left: 75px;
  font-family: IBMPlexSans-Medium;
  font-size:medium;
  font-weight: bolder;
  
}

